.footer-widgets__title {
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .footer-widgets__title::before {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 0.7rem;
    right: 1rem;
    opacity: 0.3;
    transform: rotate(45deg);
  }